/acte
/all
/C C++
/cheese.jpg
/Cisco Webex Meetings.lnk
/Claudiu (Person 1) - Chrome.lnk
/comm.png
/commweb.png
/desktop.ini
/different
/Discord.lnk
/fnd.docx
/index.html
/me pasap.jpeg
/meCV.pdf
/MinGW Installer.lnk
/Monzo_bank_statement_2021_11_09-2022_01_31_722.pdf
/New Microsoft Word Document (2).docx
/New Microsoft Word Document (3).docx
/New Microsoft Word Document.docx
/original.jpg
/pasap.jpeg
/print uni
/reason.docx
/RELleg (1).docx
/RELleg.docx
/shopify-inventory-e1498610122440.png
/space
/User.ico
/user1.ico
/viewDocument (1).pdf
/viewDocument.pdf
/webDEV
/WhatsApp Image 2022-02-20 at 21.30.21.jpeg
/WhatsApp.lnk
/~$w Microsoft Word Document (2).docx